html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x:hidden
}

.App {
  flex: 1;
  font-family: "Overpass Mono", monospace;;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  background-color: black;
}
button{
  background-color: black;
  color: white;
  border: 0 none;
  transition: 0.5s;
}
button:hover{
  background-color: rgb(231, 231, 231);
  color: black;
  transition: 0.5s;
}